<!DOCTYPE html>
<html>
<head lang="en-US">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="ticTacToeStart.controller.js"></script>
    <title>Vatic TicTacToe</title>
</head>
<body>
<div ng-app="ticTacToeApp" ng-controller="ticTacToeStartController">
    <table>
        <tr ng-repeat="row in board">
            <td ng-repeat="col in row track by $index">
                <button>{{ col }}</button>
        </tr>
    </table>

</div>
</body>
</html>