<!DOCTYPE html>
<html>
<head lang="en-US">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="ticTacToe.controller.js"></script>
    <title>Vatic TicTacToe</title>
</head>
<body>
<div ng-app="ticTacToeApp" ng-controller="ticTacToeController">
    <p ng-if="gameOver == 'true'">Game Over</p>
    <button ng-if="gameOver == 'true'" onClick="location.reload();" >Another Game</button>
    <table>
        <tr ng-repeat="row in board">
            <td ng-repeat="col in row track by $index">
                <button ng-if="col != 'x' && col != '@' && gameOver == 'false'"
                        ng-click="makeMove($parent.$index + ($parent.$parent.$index * 3) + 1)">
                    {{ col }}
                </button>
                <div ng-if="(col == 'x' || col == '@') || gameOver == 'true'">
                    {{ col }}
                </div>
            </td>
        </tr>
    </table>

</div>
</body>
</html>